# Google OAuth Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
# The ID of the Google Sheet to sync with
GOOGLE_SHEET_ID=
# Example: https://your-vercel-project.vercel.app/auth/callback
GOOGLE_REDIRECT_URI=
